*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: white;
}

.calculator{
    background: #8d99ae;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 18px;
}

.calculator form input{
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    outline: 0;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
                5px 5px 15px rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    background: transparent;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    color: black;
    box-shadow: none;
    background-color: white;
    height: 80px;
}

form input.equal{
    width: 145px;
    background-color: white;
    color: #333;
    font-weight: bold;
     background-image: url(https://i.pinimg.com/originals/c6/81/65/c6816590b5a6d2c3d347eae0fa071e79.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: top;  
    align-items: center;     
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

form input.operator {
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
}

form input.keys{
    background-color: #2b2d42;
    color: white;
    font-weight: bold;
}
